body{
    font-family: 'Poppins', sans-serif;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}
h1{
    font-size: 50px;
}
.c1{
    color:orange;
}
section{
    display: flex;
    border: left 20px;
}
.half-width{
    padding-left:5%;
}
.half-width img {
 width:100% ;
}
.link{ 

    text-decoration: none;
    font-weight: 700px;
    color: white;
    background-image:linear-gradient(orange,red);
    padding: 6px 35px;
    border-radius: 5px;
}
